<title>This is a title</title>
    <link rel="stylesheet" href="{{url_for('.static', filename='stylesheets/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='/css/nav.css')}}">
    <link rel="stylesheet" href="{{url_for('.static', filename='/css/cards.css')}}">
{% block navbar %}
    {% include 'nav.html' %}
{% endblock %}
{% block content %}
<div class="container">
    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
